.env
.sql
.json
.log*
.venv

Output_SQL_Files
Output_JSON_Files
GenerateCertifyProcesses/Log_Files
Log_Files
GenerateCertifyProcesses/Log_Files/*.log
HumanTouchUI/node_modules
node_modules
TransAlta/__pycache__/Create_Process_and_Steps.cpython-311.pyc
TransAlta/__pycache__/Db_Connections.cpython-311.pyc
TransAlta/__pycache__/Extract_Procedure_Tables.cpython-311.pyc
TransAlta/__pycache__/FindReferenceProcess.cpython-311.pyc
TransAlta/__pycache__/Generate_Certify_Step.cpython-311.pyc
